body {
    margin: 0 auto;
    padding: 0 30%;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    color: #555;
}

.textBlock {
    display: inline-block;
}

#apresentacao img {
    float: left;
    padding: 10px;
    border-radius: 10%;
}

#apresentacao p {
    display: inline;
    position: relative;
    top: 25px;
}

#perfil {
    width: 200px;
    height: auto;
}

h1 {
    margin-bottom: 2em;
}

h1, h2, h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: #0B6623;
}

strong {
    color: #00A86B;
}

.textBlock p , .textBlock ul{
    text-align: justify;
    background-color: #F9F9F3;
    padding: 10px;
}

.textBlock li {
    padding: 0.5em 0;
}

