* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 110vh;
    margin-top: 30px;
}

header {
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

header img {
    width: 50px;
}

.card {
    width: 100%;
}

.card .top {
    background-color: white;
    display: flex;
    justify-content: center;
}

.logo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    width: 70%;
}

.logo img {
    width: 45%;
}

.profile-pic {
    margin-left: auto;
    width: 30%;
}

.profile-pic img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
    margin-bottom: -4px;

}

.bottom .light-orange {
    height: 10px;
    background-color: #f6c94f;
}

.bottom .light-blue {
    height: 5px;
    background-color: #5db2e0;
}

.bottom .dark-blue {
    height: 5px;
    background-color: #4396c7;
}

.info div.name, .info div.school {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.info .name img {
    width: 30px;
}

.info .school img {
    width: 40px;
}

.bar-code-icon {
    margin-right: -7px;
}

.footer {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 15vh;
}

.vaccine {
    color: white;
    background-color: #4294a4;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
}

.exp-date {
    text-align: center;
    margin-top: 5px;
}